@model StudFolio.Models.AccountSettingsViewModel
<h2 class="text-primary">Обліковий запис</h2>

@if (!string.IsNullOrEmpty(Model?.StatusMessage))
{
    <div class="alert alert-success w-100">@Model.StatusMessage</div>
}

<form asp-controller="Settings" asp-action="UpdateAccount" method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-start row-gap-4">
    <h3 class="text-primary">Особисті дані</h3>
    <label for="settingsAvatarInput" class="form-label text-center w-100 fs-3">Аватар</label>

    <div id="avatarResult" class="avatar mx-auto" style="background-image: url('@(string.IsNullOrEmpty(Model?.AvatarUrl) ? "/images/default-avatar.png" : Model.AvatarUrl)');">
        <div class="btn-camera">
            <input class="form-control" type="file" id="settingsAvatarInput" asp-for="AvatarFile" accept="image/*">
            <span class="icon-camera"></span>
        </div>
    </div>

    <div class="w-100">
        <label asp-for="LastName" class="form-label">Прізвище</label>
        <input type="text" asp-for="LastName" class="form-control border-primary" required>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="w-100">
        <label asp-for="Name" class="form-label">Ім'я</label>
        <input type="text" asp-for="Name" class="form-control border-primary" required>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="w-100">
        <label asp-for="MiddleName" class="form-label">По батькові</label>
        <input type="text" asp-for="MiddleName" class="form-control border-primary">
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>

    <div class="w-100">
        <label asp-for="Institution" class="form-label">Назва навчального закладу</label>
        <input type="text" asp-for="Institution" class="form-control border-primary">
        <span asp-validation-for="Institution" class="text-danger"></span>
    </div>

    <div class="w-100">
        <label asp-for="Specialty" class="form-label">Спеціальність</label>
        <select class="form-select border-primary" asp-for="Specialty">
            <option value="" selected disabled hidden>Спеціальність</option>

            <optgroup label="A Освіта">
                <option value="A1 Освітні науки">A1 Освітні науки</option>
                <option value="A2 Дошкільна освіта">A2 Дошкільна освіта</option>
                <option value="A3 Початкова освіта">A3 Початкова освіта</option>
                <option value="A4 Середня освіта (за предметними спеціальностями)">A4 Середня освіта (за предметними спеціальностями)</option>
                <option value="A5 Професійна освіта (за спеціалізаціями)">A5 Професійна освіта (за спеціалізаціями)</option>
                <option value="A6 Спеціальна освіта">A6 Спеціальна освіта</option>
                <option value="A7 Фізична культура і спорт">A7 Фізична культура і спорт</option>
            </optgroup>

            <optgroup label="B Культура, мистецтво та гуманітарні науки">
                <option value="B1 Аудіовізуальне мистецтво та медіавиробництво">B1 Аудіовізуальне мистецтво та медіавиробництво</option>
                <option value="B2 Дизайн">B2 Дизайн</option>
                <option value="B3 Декоративне мистецтво та ремесла">B3 Декоративне мистецтво та ремесла</option>
                <option value="B4 Образотворче мистецтво та реставрація">B4 Образотворче мистецтво та реставрація</option>
                <option value="B5 Музичне мистецтво">B5 Музичне мистецтво</option>
                <option value="B6 Перформативні мистецтва">B6 Перформативні мистецтва</option>
                <option value="B7 Релігієзнавство">B7 Релігієзнавство</option>
                <option value="B8 Богослов’я">B8 Богослов’я</option>
                <option value="B9 Історія та археологія">B9 Історія та археологія</option>
                <option value="B10 Філософія">B10 Філософія</option>
                <option value="B11 Філологія (за спеціалізаціями)">B11 Філологія (за спеціалізаціями)</option>
                <option value="B12 Культурологія та музеєзнавство">B12 Культурологія та музеєзнавство</option>
                <option value="B13 Бібліотечна, інформаційна та архівна справа">B13 Бібліотечна, інформаційна та архівна справа</option>
                <option value="B14 Організація соціокультурної діяльності">B14 Організація соціокультурної діяльності</option>
            </optgroup>

            <optgroup label="C Соціальні науки, журналістика та інформація">
                <option value="C1 Економіка">C1 Економіка</option>
                <option value="C2 Політологія">C2 Політологія</option>
                <option value="C3 Міжнародні відносини">C3 Міжнародні відносини</option>
                <option value="C4 Психологія">C4 Психологія</option>
                <option value="C5 Соціологія">C5 Соціологія</option>
                <option value="C6 Географія та регіональні студії">C6 Географія та регіональні студії</option>
                <option value="C7 Журналістика">C7 Журналістика</option>
            </optgroup>

            <optgroup label="D Бізнес, адміністрування та право">
                <option value="D1 Облік і оподаткування">D1 Облік і оподаткування</option>
                <option value="D2 Фінанси, банківська справа, страхування та фондовий ринок">D2 Фінанси, банківська справа, страхування та фондовий ринок</option>
                <option value="D3 Менеджмент">D3 Менеджмент</option>
                <option value="D4 Публічне управління та адміністрування">D4 Публічне управління та адміністрування</option>
                <option value="D5 Маркетинг">D5 Маркетинг</option>
                <option value="D6 Секретарська та офісна справа">D6 Секретарська та офісна справа</option>
                <option value="D7 Торгівля">D7 Торгівля</option>
                <option value="D8 Право">D8 Право</option>
                <option value="D9 Міжнародне право">D9 Міжнародне право</option>
            </optgroup>

            <optgroup label="E Природничі науки, математика та статистика">
                <option value="E1 Біологія та біохімія">E1 Біологія та біохімія</option>
                <option value="E2 Екологія">E2 Екологія</option>
                <option value="E3 Хімія">E3 Хімія</option>
                <option value="E4 Науки про Землю">E4 Науки про Землю</option>
                <option value="E5 Фізика та астрономія">E5 Фізика та астрономія</option>
                <option value="E6 Прикладна фізика та nanomaтеріали">E6 Прикладна фізика та наноматеріали</option>
                <option value="E7 Математика">E7 Математика</option>
                <option value="E8 Статистика">E8 Статистика</option>
            </optgroup>

            <optgroup label="F Інформаційні технології">
                <option value="F1 Прикладна математика">F1 Прикладна математика</option>
                <option value="F2 Інженерія програмного забезпечення">F2 Інженерія програмного забезпечення</option>
                <option value="F3 Комп’ютерні науки">F3 Комп’ютерні науки</option>
                <option value="F4 Системний аналіз та наука про дані">F4 Системний аналіз та наука про дані</option>
                <option value="F5 Кібербезпека та захист інформації">F5 Кібербезпека та захист інформації</option>
                <option value="F6 Інформаційні системи і технології">F6 Інформаційні системи і технології</option>
                <option value="F7 Комп’ютерна інженерія">F7 Комп’ютерна інженерія</option>
            </optgroup>

            <optgroup label="G Інженерія, виробництво та будівництво">
                <option value="G1 Хімічні технології та інженерія">G1 Хімічні технології та інженерія</option>
                <option value="G2 Технології захисту навколишнього середовища">G2 Технології захисту навколишнього середовища</option>
                <option value="G3 Електрична інженерія">G3 Електрична інженерія</option>
                <option value="G4 Енерговиробництво (за спеціалізаціями)">G4 Енерговиробництво (за спеціалізаціями)</option>
                <option value="G5 Електроніка, електронні комунікації, приладобудування та радіотехніка">G5 Електроніка, електронні комунікації, приладобудування та радіотехніка</option>
                <option value="G6 Інформаційно-вимірювальні технології">G6 Інформаційно-вимірювальні технології</option>
                <option value="G7 Автоматизація, комп’ютерно-інтегровані технології та робототехніка">G7 Автоматизація, комп’ютерно-інтегровані технології та робототехніка</option>
                <option value="G8 Матеріалознавство">G8 Матеріалознавство</option>
                <option value="G9 Прикладна механіка">G9 Прикладна механіка</option>
                <option value="G10 Металургія">G10 Металургія</option>
                <option value="G11 Машинобудування">G11 Машинобудування</option>
                <option value="G12 Авіаційна та ракетно-космічна техніка">G12 Авіаційна та ракетно-космічна техніка</option>
                <option value="G13 Харчові технології">G13 Харчові технології</option>
                <option value="G14 Деревообробні та меблеві технології">G14 Деревообробні та меблеві технології</option>
                <option value="G15 Технології легкої промисловості">G15 Технології легкої промисловості</option>
                <option value="G16 Гірництво та нафтогазові технології">G16 Гірництво та нафтогазові технології</option>
                <option value="G17 Архітектура та містобудування">G17 Архітектура та містобудування</option>
                <option value="G18 Геодезія та землеустрій">G18 Геодезія та землеустрій</option>
                <option value="G19 Будівництво та цивільна інженерія">G19 Будівництво та цивільна інженерія</option>
                <option value="G20 Видавництво та поліграфія">G20 Видавництво та поліграфія</option>
                <option value="G21 Біотехнології та біоінженерія">G21 Біотехнології та біоінженерія</option>
                <option value="G22 Біомедична інженерія">G22 Біомедична інженерія</option>
            </optgroup>

            <optgroup label="H Сільське, лісове, рибне господарство та ветеринарна медицина">
                <option value="H1 Агрономія">H1 Агрономія</option>
                <option value="H2 Тваринництво">H2 Тваринництво</option>
                <option value="H3 Садово-паркове господарство">H3 Садово-паркове господарство</option>
                <option value="H4 Лісове господарство">H4 Лісове господарство</option>
                <option value="H5 Водні біоресурси та аквакультура">H5 Водні біоресурси та аквакультура</option>
                <option value="H6 Ветеринарна медицина">H6 Ветеринарна медицина</option>
                <option value="H7 Агроінженерія">H7 Агроінженерія</option>
            </optgroup>

            <optgroup label="J Транспорт та послуги">
                <option value="J1 Послуги краси">J1 Послуги краси</option>
                <option value="J2 Готельно-ресторанна справа та кейтеринг">J2 Готельно-ресторанна справа та кейтеринг</option>
                <option value="J3 Туризм і рекреація">J3 Туризм і рекреація</option>
                <option value="J4 Охорона праці">J4 Охорона праці</option>
                <option value="J5 Морський та внутрішній водний транспорт">J5 Морський та внутрішній водний транспорт</option>
                <option value="J6 Авіаційний транспорт">J6 Авіаційний транспорт</option>
                <option value="J7 Залізничний транспорт">J7 Залізничний транспорт</option>
                <option value="J8 Автомобільний транспорт">J8 Автомобільний транспорт</option>
            </optgroup>

            <optgroup label="K Безпека та оборона">
                <option value="K1 Державна безпека">K1 Державна безпека</option>
                <option value="K2 Безпека державного кордону">K2 Безпека державного кордону</option>
                <option value="K3 Національна безпека (за окремими сферами забезпечення і видами діяльності)">K3 Національна безпека (за окремими сферами забезпечення і видами діяльності)</option>
                <option value="K4 Управління інформаційною безпекою">K4 Управління інформаційною безпекою</option>
                <option value="K5 Військове управління (за видами збройних сил)">K5 Військове управління (за видами збройних сил)</option>
                <option value="K6 Забезпечення військ (сил)">K6 Забезпечення військ (сил)</option>
                <option value="K7 Озброєння та військова техніка">K7 Озброєння та військова техніка</option>
                <option value="K8 Пожежна безпека">K8 Пожежна безпека</option>
                <option value="K9 Правоохоронна діяльність">K9 Правоохоронна діяльність</option>
                <option value="K10 Цивільна безпека">K10 Цивільна безпека</option>
            </optgroup>
        </select>
        <span asp-validation-for="Specialty" class="text-danger"></span>
    </div>

    <button type="submit" class="btn-small btn-accent">Зберегти</button>
</form>

<div class="d-flex flex-column align-items-start row-gap-4">
    <h3 class="text-primary">Вийти з облікового запису</h3>
    <a asp-controller="Account" asp-action="Logout" type="submit" class="btn-small btn-danger">Вийти з акаунту</a>
</div>

<div class="d-flex flex-column align-items-start row-gap-4">
    <h3 class="text-primary">Видалити обліковий запист</h3>
    <p>
        Хочете видалити свій обліковий запис? Нам прикро, що ви нас покидаєте. <br />
        Увага! Видалення облікового запису є необоротним процесом. Усі пов'язані дані з ним будуть назавжди видалені.
    </p>
    <button type="button" class="btn-small btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Видалити акаунт</button>

    <form asp-controller="Settings" asp-action="DeleteAccount" method="post" id="deleteAccountForm">
        <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title text-primary fs-5" id="modalLabel">Видалення облікового запису</p>
                        <button type="button" class="btn-icon" data-bs-dismiss="modal" aria-label="Закрити">
                            <span class="icon-dagger"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ви впевнені у свої діях?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-small btn-accent" data-bs-dismiss="modal">Скасувати</button>
                        <button type="submit" class="btn-small btn-danger">Видалити</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>